<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Web App{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="base.css">
    <!-- Add your CSS links and other head content here -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search_tweets">Search Tweets</a></li>
            <li><a href="/player_id_form">Player Id form</a></li>
            <li><a href="/player_stats/<int:player_id>">Player statistics</a></li>
        </ul>
    </nav>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
