{% extends "base.html" %}

{% block title %}Search Tweets{% endblock %}

{% block content %}
    <h1>Search Tweets</h1>

    <form method="POST">
        <label for="search_query">Search Query:</label>
        <input type="text" id="search_query" name="search_query" placeholder="#u21euro talent -is:retweet" value="{{ request.form['search_query'] }}">
        <br>

        <label for="num_tweets">Number of Tweets to Retrieve:</label>
        <input type="number" id="num_tweets" name="num_tweets" min="1" max="100" value="{{ request.form['num_tweets'] }}">
        <br>

        <input type="submit" value="Search">
    </form>

    <h2>Extracted Names:</h2>
    <ul>
        {% for name in names %}
            <li>{{ name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
